.voting-table {
	width: 210px; 
	border-spacing: 10px;
}

.voting-row {
    display:table-row; 
}

.voting-row > div {
	display: table-cell;
	vertical-align:bottom;
}

.voting-cell {
	height: 200px; 
	width: 100px;
}

.voting-option {
	vertical-align: middle; 
	width: 90px; 
	text-align: center; 
	color: #fff;
}

.voting-option > p:first-child {
	font-size: 200%;
}

.voting-option-winning {
	background-color: #00cc00; 
	height: 70px; 
}

.voting-option-loosing {
	background-color: #ff3300;
	height: 70px; 
}

.vote-button {
	width: 90px;
}

.voted {
	width: 190px;
	position: absolute;
    	float: left;
}
